<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
    </head>
    <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(function() {
        $('select').material_select();
        });
      </script>
    <div class="container">
      <a href="/logout">Logout</a> | <a href="/cars">Go back</a>
      <h5>Add a Car</h5>
      <div class="row">
        <form action="/cars/create" method="post">
          {%csrf_token%}
          <input class="col s7" type="text" name="year" placeholder="Year">
          <input class="col s7" type="text" name="make" placeholder="Make">
          <input class="col s7" type="text" name="model" placeholder="Model">
          {% if messages %}
            {% for message in messages%}
              <p>{{message}}</p><br>
            {% endfor %}
          {% endif%}
          <input class="waves-effect waves-light btn" type="submit" name="" value="Add">
        </form>
      </div>
    </div>
  </body>
</html>
