<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('select').material_select();
      });
    </script>
    <div class="container">
        <h2>User {{users.id}}</h2>
        <p>Full Name : {{users.full_name}}</p> 
        <p>Email : {{users.email}}</p>
        <p>Created At : {{users.created_at}}</p>
        <a href="/users/{{users.id}}/edit">Edit</a>  |  <a href="/users/{{users.id}}/delete">Delete</a>
    </div>
</body>
</html>