*{
 margin: 0px;
 padding: 0px;
}
body{
  background-color: black;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 20px;
  text-align: center;
  color: white;
}
#wrapper {
  background-color: white;
  width: 1000px;
  height: 700px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

/************************************/
#selector {
  height: 60px;
  width: 750px;
  background-color: blue;
  display: inline-block;
}
#pokemans {
  overflow: scroll;
  height: 640px;
  width: 750px;
  background-color: red;
  display: inline-block;
  margin-top: -4px;

}
#info {
  width: 250px;
  height: inherit;
  display: inline-block;
  background-color: green;
  vertical-align: top;
  margin-top: -64px;
  margin-left: -4px;
}
